#################
## Eclipse
#################
Guardians of the Arena/Library/metadata/
Guardians of the Arena/GoAClient_Data/
Guardians of the Arena/Library/ShaderCache/
Guardians of the Arena/Assembly-CSharp-firstpass-vs.csproj
Guardians of the Arena/Assembly-CSharp-firstpass.csproj
Guardians of the Arena/Assembly-UnityScript-firstpass-vs.unityproj
Guardians of the Arena/Assembly-UnityScript-firstpass.unityproj
Guardians of the Arena/Assembly-UnityScript.unityproj
Guardians of the Arena/Assembly-UnityScript-vs.unityproj
Guardians of the Arena/Assembly-CSharp.csproj
Guardians of the Arena/Assembly-CSharp-vs.csproj
Guardians of the Arena/Guardians of the Arena-csharp.sln
Guardians of the Arena/Guardians of the Arena.sln
Guardians of the Arena/Guardians of the Arena.userprefs
Guardians of the Arena/Library/assetDatabase3
Guardians of the Arena/Library/CurrentLayout.dwlt
Guardians of the Arena/Library/expandedItems
Guardians of the Arena/Library/guidmapper
Guardians of the Arena/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Guardians of the Arena/Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Guardians of the Arena/Library/ScriptAssemblies/Assembly-CSharp.dll
Guardians of the Arena/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Guardians of the Arena/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll
Guardians of the Arena/Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb
Guardians of the Arena/Library/ScriptAssemblies/Assembly-UnityScript.dll
Guardians of the Arena/Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Guardians of the Arena/Library/ScriptAssemblies/CompilationCompleted.txt
Guardians of the Arena/Library/shadercompiler-1.log